.menu-box, .menu-box-bg {
    height: .88rem;
    line-height: .88rem;
}
.menu-box {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.header-items {
    background-color: #f4f5f6;
    overflow: hidden;
}
.header-item {
	float: left;
	width: 25%;
    list-style-type: none;
    text-align: center;
    color: #333;
    font-size: .32rem;
}
.header-item-selected {
    color: #f85959;
}